/* Cards */
.card {
    border: none;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Project Cards */
.project-card {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card .card-img-top {
    height: 180px;
    object-fit: cover;
}

.project-card .card-title {
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Blog Cards */
.blog-card {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.blog-card .card-title,
.blog-card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Card Thumbnail */
.thumbnail-img {
    width: 100%; /* Ensure the image takes up the full width of the container */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: contain; /* Change 'cover' to 'contain' to fit the whole image */
    border-radius: 10px; /* Optional: add some styling like rounded corners */
    overflow: hidden; /* Prevent overflow if the image dimensions are odd */
}

.modal-content {
    border-radius: 10px;
    max-height: 90vh; /* Ensure it doesn't exceed viewport height */
    overflow-y: auto; /* Allow scrolling for longer content */
}

.carousel-inner img {
    height: auto;
    max-height: 400px; /* Set a maximum height for images */
    object-fit: contain; /* Prevent image distortion */
    border-radius: 8px;
}

.modal-header .btn-primary {
    border-radius: 50px;
}

