/* Cards */
.card {
    border: none;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Project Cards */
.project-card {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card .card-img-top {
    height: 180px;
    object-fit: cover;
}

.project-card .card-title {
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Blog Cards */
.blog-card {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.blog-card .card-title,
.blog-card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
