{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar py-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#bio">Detailed Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills and Expertise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certificates">Certificates</a>
                </li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <section id="bio" class="my-4">
                <h2>Detailed Bio</h2>
                <p>
                    I am Abhisek Mishra, a data science enthusiast with a strong academic foundation and practical
                    expertise in solving complex challenges through technology. I earned my Integrated MCA from Utkal University, Bhubaneswar, where I honed my skills in programming, data analysis, and machine
                    learning.
                    </p>
                    <p>
                    During my tenure as a Data Science Intern at Fightright Technologies, I worked on automating and
                    optimizing data-driven processes. My responsibilities included maintaining data pipelines for
                    scraping district court websites using Selenium WebDriver and securely storing the results in Amazon S3 for efficient data extraction. I also designed and implemented OCR processes by developing AWS Lambda functions integrated with Docker and Amazon ECR, enabling automated extraction and organization of text from image-based legal documents. Additionally, I gained hands-on experience with MySQL, performing CRUD operations, data cleaning, and validation.
                    </p>
                    <p>
                    My academic journey also includes significant projects in Machine Learning, such as an Email Spam Classifier, Car Price Prediction, and Audio Classification. Beyond ML, I have explored web
                    development and GUI-based applications, building tools like a Web Scraper, Weather App, and Password Generator.
                    </p>
                    <p>
                    With a passion for technology and problem-solving, I am eager to apply my skills to innovative
                    projects and drive meaningful impact in the field of data science.
                </p>
            </section>

            <section id="skills" class="my-4">
                <h2>Skills and Expertise</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Technical Skills</h4>
                        <ul>
                            <li>Programming Languages: Python, SQL</li>
                            <li>Data Analysis Tools: Pandas, NumPy, Matplotlib, Seaborn</li>
                            <li>Machine Learning: Scikit-learn, TensorFlow</li>
                            <li>Generative AI: LlamaIndex</li>
                            <li>Web Development: Django, Flask</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Soft Skills</h4>
                        <ul>
                            <li>Communication</li>
                            <li>Problem-solving</li>
                            <li>Teamwork</li>
                            <li>Critical Thinking</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="experience" class="my-4">
                <h2>Experience</h2>
                <div>
                    <h4>Data Science Intern</h4>
                    <p><strong>Company Name:</strong>FightRight Technologies</p>
                    <p><strong>Duration:</strong> June 2024 - Aug 2024</p>
                    <p><strong>Responsibilities:</strong></p>
                    <ul>
                        <li>Maintained data pipelines for scraping district court websites using Selenium WebDriver and storing results in Amazon S3 for efficient extraction.</li>

                        <li>Designed and implemented OCR processes through AWS Lambda integrated with Docker via Amazon ECR, automating text extraction from complex image-based legal documents.</li>

                        <li>Worked with MySQL databases to perform CRUD operations, including data cleaning and validation, ensuring accuracy and consistency in datasets.</li>
                    </ul>
                </div>

                <!-- <br>
                <hr>
                <br> -->
            </section>

            <section id="certificates" class="my-4">
                <h2 class="text-center mb-4">Certificates</h2>
                <ul class="certificate-list">
                    <li>
                        <a href="https://drive.google.com/file/d/1e9yqsQ7pNlNnzgP2z2lrXaP9H2BpaNWy/view?usp=sharing" target="_blank">
                            <strong>Data Science Intern Certificate</strong> - FightRight Technologies
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1qqnO3wkNP9fkuqSOErCNsSuy97OfzJjp/view?usp=sharing" target="_blank">
                            <strong>Complete Python Bootcamp Certificate</strong> - Udemy
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1xDAOkVhbZBegQpeA0eVd-pCEKdOASdbw/view?usp=sharing" target="_blank">
                            <strong>Python Basic Certificate</strong> - HackerRank
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/16U_iMDAKLm5k_LhsHvvT4bbzrRkAPkbI/view?usp=sharing" target="_blank">
                            <strong>Introduction To Generative AI</strong> - Upgrad
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1FPbm0MnqPzhGcVuknmNz_3UA1A0wBZTF/view?usp=sharing" target="_blank">
                            <strong>Ai Tools Workshop</strong> - Be10x
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1itFWlcxctCNTF2uy6-Qk5o-zWUANvXLj/view?usp=sharing" target="_blank">
                            <strong>Power BI Workshop</strong> - Jobaaj Learnings
                        </a>
                    </li>
                </ul>
            </section>
        </main>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}