{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Contact Me</h1>
    <p class="text-center">Feel free to reach out via email, social media, or the contact form below.</p>

    <!-- Contact Information and Social Media Icons -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center">
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:mishraabhisek14@gmail.com">mishraabhisek14@gmail.com</a></p>
            <p><i class="fas fa-phone"></i> Phone: +91-8895818595</p>
            <div>
                <!-- <a href="https://www.facebook.com" target="_blank" class="mx-2"><i class="fab fa-facebook fa-2x"></i></a> -->
                <a href="https://www.twitter.com" target="_blank" class="mx-2"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.linkedin.com" target="_blank" class="mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
                <!-- <a href="https://www.instagram.com" target="_blank" class="mx-2"><i class="fab fa-instagram fa-2x"></i></a> -->
                <a href="https://www.github.com" target="_blank" class="mx-2"><i class="fab fa-github fa-2x"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
