{% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
    <!-- Circular Image -->
    <img src="{{ url_for('static', filename='img/profile.jpg') }}" 
         alt="Your Photo" 
         class="rounded-circle" >
</div>

<h1>Welcome to Abhisek's Portfolio</h1>
<div class="text-center mt-3">
    <p class="subtitle">
        Python developer and data science enthusiast
    </p>
    <p class="description">
        Explore my professional journey, projects, and insights into data science, generative AI, and beyond.
    </p>
</div>

{% endblock %}
